<%# locals: (import:) %>

<div class="space-y-4">
  <p class="text-sm text-secondary"><%= t(".description") %></p>

  <%= styled_form_with model: import,
                       url: import_configuration_path(import),
                       scope: :import,
                       method: :patch,
                       class: "space-y-3" do |form| %>
    <p class="text-sm text-secondary"><%= t(".instructions") %></p>
    <%= form.submit t(".button_label"), disabled: import.complete? %>
  <% end %>
</div>