<%= content_for :page_title, t("admin.sso_providers.edit.page_title", label: @sso_provider.label) %>

<div class="space-y-4">
  <p class="text-secondary"><%= t("admin.sso_providers.edit.description", label: @sso_provider.label) %></p>

  <%= settings_section title: t("admin.sso_providers.edit.provider_configuration_title") do %>
    <%= render "form", sso_provider: @sso_provider %>
  <% end %>
</div>
