<%= content_for :page_title, t(".title") %>

<div class="space-y-4">
  <p class="text-secondary"><%= t(".description", label: @sso_provider.label) %></p>

  <%= settings_section title: t("admin.sso_providers.form.oauth_configuration") do %>
    <%= render "form", sso_provider: @sso_provider %>
  <% end %>
</div>
