<%= content_for :page_title, t("admin.sso_providers.new.title") %>

<div class="space-y-4">
  <p class="text-secondary"><%= t("admin.sso_providers.new.description") %></p>

  <%= settings_section title: t("admin.sso_providers.new.provider_configuration_title") do %>
    <%= render "form", sso_provider: @sso_provider %>
  <% end %>
</div>
