<%= content_for :page_title, "Bank Sync" %>

<%= settings_section title: "Providers" do %>
  <p class="text-secondary">Configure providers used to link your bank accounts.</p>

  <div class="space-y-3">
    <% @providers.each do |provider| %>
      <%= render partial: "provider_link", locals: { provider: provider } %>
    <% end %>
  </div>
<% end %>


