<%= render layout: "accounts/new/container", locals: { title: t(".title") } do %>
  <div class="text-sm"
       <% if @provider_configs.any? { |c| c[:key] == "lunchflow" } %>
         data-controller="lunchflow-preload"
       <% end %>>
    <% ManualAccountPolicy.visible_accountables(classification: params[:classification]).each do |accountable| %>
      <%= render "account_type", accountable: accountable %>
    <% end %>
  </div>
<% end %>
